@model IEnumerable<DTO.Models.DetailLine>

@{
    ViewBag.Title = "List of detail lines";
}

<h2>List of detail lines</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { area = "" }, new { @class = "btn btn-dark" })
</p>
<table class="table table-striped table-dark">
  <thead>
      <tr>
        <th scope="col">
          @Html.DisplayNameFor(model => model.Item)
        </th>
        <th scope="col">
          @Html.DisplayNameFor(model => model.PricePiece)
        </th>
        <th scope="col">
          @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th scope="col">
          @Html.DisplayNameFor(model => model.CountOfItems)
        </th>
        <th scope="col">
          @Html.DisplayNameFor(model => model.InvoiceId)
        </th>
        <th scope="col">
          Percentage
        </th>
      </tr>
    </thead>

    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Item)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.PricePiece)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.CountOfItems)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.InvoiceId)
        </td>
        <td>
          @item.GetVatPercantage()%
        </td>
        <td>
          @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
          @Html.ActionLink("Details", "Details", new { id = item.Id }) |
          @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
      </tr>
    }

</table>
