@model DTO.Models.Invoice

@{
  ViewBag.Title = "Create invoice";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()

<div class="form-horizontal">
  <h4>Invoice</h4>
  <hr />
  @Html.ValidationSummary(true, "", new { @class = "text-danger" })



  <form>
    <div class="form-group">
      <select class="form-control form-control-lg" name="customers" id="customers">
        @foreach (var item in ViewBag.cutomers)
        {
          <option class="dropdown-item" value=@item.Id>@item.Firstname @item.Lastname</option>
        }

      </select>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-secondary btn-sm" />
      </div>
    </div>
  </form>

</div>
  <h3>
    <strong > @ViewBag.ex </strong>
  </h3>
}

<div>
  @Html.ActionLink("Back to List", "Index")
</div>


