@model DTO.Models.Invoice

@{
    ViewBag.Title = "Details of invoice";
}

<h2 class ="detail">Details</h2>

<div>
  <h4>Invoice code: @Model.InvoiceCode</h4>
  <hr />
  <dl class="dl-horizontal">

    <dt>
      @Html.DisplayNameFor(model => model.Date)
    </dt>

    <dd>
      @Model.Date.ToShortDateString()
    </dd>
    <dt class="print">
      @Html.DisplayNameFor(model => model.Finished)
    </dt>
    <dd class="print">
      @Html.DisplayFor(model => model.Finished)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.Customer)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Customer.Firstname)
      @Html.DisplayFor(model => model.Customer.Lastname)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.User)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.User)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.InvoiceCode)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.InvoiceCode)
    </dd>
    <table class="table">
      <tr>
        <th>
          Item
        </th>
        <th>
          PricePiece
        </th>
        <th>
          Discount
        </th>
        <th>
          CountOfItems
        </th>
        <th>
          Percentage
        </th>
        <th>
          Price without VAT
        </th>
        <th>
          Price with VAT
        </th>
        <th></th>
      </tr>
      @for (int i = 0; i < Model.DetailLines.Count; i++)
      {
        <tr>
          <td>
            @Html.DisplayFor(modelItem => Model.DetailLines.ToList()[i].Item)
          </td>
          <td>
            @Html.DisplayFor(modelItem => Model.DetailLines.ToList()[i].PricePiece)
          </td>
          <td>
            @Html.DisplayFor(modelItem => Model.DetailLines.ToList()[i].Discount)
          </td>
          <td>
            @Html.DisplayFor(modelItem => Model.DetailLines.ToList()[i].CountOfItems)
          </td>

          <td>
            @Model.DetailLines.ToList()[i].Vat.Percentage %
          </td>
          <td>
            @ViewBag.pricesWithoutVat[i]
          </td>
          <td>
            @ViewBag.prices[i]
          </td>
          <td class="print">
            @Html.ActionLink("Edit", "Edit", "DetailLine", new { id = Model.DetailLines.ToList()[i].Id }, null) |
            @Html.ActionLink("Details", "Details", "DetailLine", new { id = Model.DetailLines.ToList()[i].Id }, null) |
            @Html.ActionLink("Delete", "Delete", "DetailLine", new { id = Model.DetailLines.ToList()[i].Id }, null)

          </td>

        </tr>
      }

    </table>



  </dl>
  <br />
  <h4 class="h4">
    <p> Total price without VAT: @ViewBag.priceWithoutVAT</p>
  </h4>

  <h4 class="h4" style="margin-bottom:40px;">
    <p>Total price with VAT: @ViewBag.priceWithVat </p>
  </h4>
  <button class="btn btn-primary hidden-print link" onclick=" printDocument()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>
  <p class="link">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
  </p>
</div>
<script>
  function printDocument() {
    window.print();
  }
</script>
